*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins',sans-serif;
   }
  
   body
   {
       display: flex;
       justify-content: center;
       align-items: center;
       min-height: 100vh;
       background-size: cover;
       background-position: center;
   }
   header
   {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       padding: 20px 100px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       z-index: 99;
   }
  
   .logo
   {  
       font-family: Georgia, serif;
       font-size: 2.4em;
       color: #162938;
       user-select: none;
   }
 
   img
   {
      opacity: 0.75;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      width: 100%;
 
   }
   
   .content
   {
      width: 100%;
      position: absolute;
      top: 100px;
      
      text-align: left;
      color: #162938;
   }
 
   .title
   {
     font-size: 28px;
     line-height: 100px;
     font-weight: bold;
     height: 100px;
     text-align: left;
     margin-left: 500px;
     text-decoration: underline;
   }

   .content h3
  {
   margin-left: 40px;
   font-weight: 700;
   line-height: 10px;
   color: red;
   font-family: sans-serif;
  }

  .content h4
  {
   margin-left: 40px;
   font-weight: 700;
   line-height: 10px;
   color: red;
   font-family: sans-serif;
  }

  .content img
  {
   
    background: none;
    height: 40px;
    width: 70px;
    border-radius: 50%;
   
  }

  .content p
  {
   font-size: 16px;
   margin-left: 40px;
   font-weight: 700;
   line-height: 10px;
   color: black;
   font-family: sans-serif;
  }